.navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 1em;
    background:#111111;
    letter-spacing: 5px;
    font-family: 'Lato';
    background:url("../assets/background.jpg");
  background-size:cover;
}

#contact-container {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0;
    font-size: 1em;
    font-family: 'Lato';
    color:#DDDDDD;
    background-color:#060606;
}

.navbar-nav li a:hover {
    color: #FF4756 !important;
}

.navbar-nav li a {
    color: #CCCCCC !important;
}
.navbar-brand {
  color: #CCCCCC !important;
}

.jumbotron {
  padding-top:11em;
  padding-bottom:15em;
  background-color:#111111;
  background:url("../assets/background.jpg");
  background-size:100% 100%;
  margin:0;
}

#aboutme {
  margin-top:-6em;
  color:#50514F;
  line-height:30px;
  color:#DFDFDF;
}

p{
	font-size:1.2em;
	font-family: 'Scope One', serif;
	margin:0em;
	padding:0em;
}


.subtitle {
	padding-bottom:2em;
	font-size:2.5em;
	color: #F2385A;
}

#proj{
  padding-top:9em;
  padding-bottom:10em;
  background-color:#060606;
}

#projects {
  background-color:#060606;
}

.thumbnail {
    border: 10px;
    background-color:#060606;
    color:#DDDDDD;
    line-height:28px;
    letter-spacing: 0px;
    border-radius: 10px;
    vertical-align: middle;
}

.thumbnail img {
    width: 100%;
    border:100px;
    border-color:blue;
    border-radius:10px;
    height: 100%;
    margin-bottom: 10px;
}

.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #4F6D7A;
}

.carousel-indicators li.active {
    background-color: #4F6D7A;
}


.item span {
    font-style: normal;
}


.title-divider {
	background-color:#FF4756;
	height:0.15em;
	width:10%;
	margin: 0 auto;
	opacity:0.8;
	margin-top:0.5em;
	margin-bottom:0.5em;
}

.glyphicon-menu-down {
    font-size: 30px;
    color:#F2385A;
}

.glyphicon-menu-down:hover {
    color:#F43A5C;
    font-size:35px;
}


$colors: #F2385A, #F5A503, #E9F1DF, #56D9CD, #3AA1BF;


.text--line {
  font-size: 0.5em;
  }

svg {
  font-size:36vw;
  font-family: 'Allura';
  -ms-transform: rotate(-10deg); /* IE 9 */
  -webkit-transform: rotate(-10deg); /* Safari */
  transform: rotate(-10deg); /* Standard syntax */
  }

$max: 5;
$stroke-step: 7%; 
.text-copy {
  fill: none;
  stroke-dasharray: $stroke-step $stroke-step * ($max - 1);
  stroke-width: 3px;
  
  animation: stroke-offset 7s;
  
  @for $item from 1 through $max {
    $stroke-color: nth($colors, $item);
    
    &:nth-child(#{$item}) {
      stroke: $stroke-color;
      stroke-dashoffset: $stroke-step * $item;
      }
  }
 }

@keyframes stroke-offset {
  0% {
    stroke-dashoffset: $stroke-step * $max;  
    stroke-dasharray: 0 $stroke-step * $max;
  }
}
